h2{
	color: #171718;
	background: #f502cd;
	padding: 10px 20px;
	border-radius:0 20px;
	width: 100%;
	height: 100px;
}
p{ 
	color: #0a0a0a;
	background-color: #07f7f7;
	padding: 10px 20px;
	border-radius:0 20px;
	width: 100%;
	
}body{
    font-family: Calibri;
    padding: 10px 20px;
	background-color: #898d8ca8;
}

h1 {
	color: #f5f3f3;
	background-color: #faaa15;
	padding: 10px 20px;
	border-radius:0 20px;
    width: 58%;
}